body{
    padding: 0;
    margin: 0;
    background-color:bisque ;
}
.red{
    color:indigo;
    text-align: center;
}
.h2{
    text-align: center;
    text-align: right;
    float: right;
    padding-left: 0px;
    color:black;
}
.navbar{
    background-color:aliceblue;
    text-align: left;
    font-size: 20px;
    padding: 10px 20px;
    
}
.nav-links{
    list-style: none;
    display: flex;
    gap:20px;

}
.nav-links .active{
    text-decoration: none;
    color:aliceblue;
    display: flex;
}
.navbar a:hover{
    color:indianred;
    float: left;
}
@media(max-width:473px){
    .hamburger{
        display: flex;
    }
    .navbar ul{
        display: none;
        flex-direction: column;
        position: absolute;
        background-color: white;
        top:60px;
        right: 15px;
        width: 200px;
        padding: 20px;
    }
}

.form{
    width: 400px;
    margin: auto;
    display: flex;
    gap: 20px;
    flex-direction: column;
    text-align: center;
    font-size: 100%;
}

h1{
    text-align:center ;
    color: indianred;
}
footer{
    text-align: center;
    gap: 20px;
    color:white;
    background-color:#2c3e50;
}
.home{
    display: flex;
    padding-left: 30px;
}
.picture{
    display: flex;
    gap: 80px;
    justify-content: center;
    padding: 12%;
    flex-wrap: wrap;
    margin: 12px;
}
.image{
    padding-top: 35px;
    gap: 12px;
}
.card{
    color:black;
    width: 280px;
    object-fit: cover;
    border: 4px;
}
.card img{
    width: 120%;
    height: 80%;
    justify-content: center;
}
.content{
    margin-left: 20px;
    padding: 15px;
    border-radius: 12px;
}
.intro{
    text-align: center;
}
.button{
    background-color:lightblue;
}

.hamburger{
    flex-direction: column;
    gap: 5px;
    display: none;
    cursor: pointer;

}
.hamburger span{
    height:3px;
    width: 25px;
    background-color: aquamarine;
}
.card img:hover{
    cursor: pointer;
    border-radius: 100%;


}
.card p{
    height: 500;
    width: 300;
}
ul{
    display: flex; 
}
.navbar ul li{
    list-style: none;
    padding: 10px;
    display: inline-block;
    text-align: left;
    font-size: 20px;
}
.navbar a{
    display: flex;
    font-size: 20px;  
    text-align: none;
    text-decoration: none; 
}
.project image{
    display: flex;
    gap:20px;
    height: 40px;
    width: 50px;
}